body{
    text-align: center;
    
}
.btn{
    width: 12vw;
    height: 12vw;
    border-radius: 20%;
    border:0.7vw solid black;
    margin: 2.5vw;
}

@media (max-width: 400px) {
.btn {
width: 20vw;
height: 20vw;
margin: 3vw;
}
}

#start-btn {
padding: 10px 20px;
font-size: 1.2rem;
margin-top: 20px;
cursor: pointer;

}
@media (min-width: 768px) {
#start-btn {
display: none;
}
}


@media (max-width: 768px) {
#start-btn {
display: inline-block;
}
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}
.flash {
    background-color: white;
    
}
.userFlash {
    background-color: green;
}